<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Edit Profile</h5>
        </div>
        <div class="card-body">
      


          <form  [formGroup]="myForm">

                  <div class="row">
                <div class="col-md-4 pr-1">

                    <div class="form-group">
                     
                        <mat-slide-toggle  formControlName="isBenefactor">Benefactor</mat-slide-toggle>
                    </div>
                
                 <!-- <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" formControlName="password"  placeholder="Password">
                  </div>-->
                </div>

               <!-- <div class="col-md-8 px-10">
                  
             
                  </div>-->
                
             
              </div>
            <div class="row">
             <!-- <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Company (disabled)</label>
                  <input type="text" class="form-control" disabled="" placeholder="Company" value="Creative Code Inc.">
                </div>
              </div>-->
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="username" class="control-label">Username</label>
                  <input type="text" class="form-control" name="username" id="username"  formControlName="username" placeholder="Username" required>
                </div>
              
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label for="email" class="control-label">Email address</label>
                  <input name="email" id="email" type="email" formControlName="email"  class="form-control" placeholder="Email" required>
                  <span *ngIf="isValid('email')">Entered email is invalid</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
               <!-- <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control" placeholder="Company" value="Mike">
                </div>-->
                <div class="form-group">
                    <label>Blood Group (disabled)</label>
                    <input type="text" class="form-control" disabled=""  formControlName="bloodGroup"  placeholder="Blood Group">
                </div>

              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label class="control-label">Phone Number</label>
                  <input type="text" class="form-control" formControlName="phone_number" placeholder="Phone Number" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Address</label>

                  <input ngx-google-places-autocomplete [options]="{
                    types: [],
                    componentRestrictions: { country: 'TUR' }
                    }" matInput #placesRef="ngx-places" type="text" class="form-control" formControlName="address" id="address"
                    placeholder="Address" (onAddressChange)="handleAddressChange($event)" required />
                
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>City</label>
                  <input type="text" class="form-control" placeholder="City" value={{city}}>
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Country</label>
                  <input type="text" class="form-control" placeholder="Country"  value={{country}}>
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Postal Code</label>
                  <input type="number" class="form-control" placeholder="ZIP Code" value="{{postal_code}}">
                </div>
              </div>
            </div>
           <!-- <div class="row">
                <div class="col-md-4 pr-1">

                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" formControlName="password"  placeholder="Password">
                      </div>
               
                </div>

             
              </div>-->
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>About Me</label>
                  <textarea rows="4" cols="80" class="form-control" placeholder="Here can be your description" value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 px-1">
                  <button id="form-btn-hollow" class="form-btn-hollow"   (click)="UpdateProfile()">Update</button>
                </div>
                <div class="col-md-5 px-1">
                  <button id="form-btn-hollow" class="form-btn-hollow"   (click)="deleteAccount()">Delete Account</button>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="...">
        </div>
        <div class="card-body">
        <div class="author">
            <label class="hoverable"  for="fileInput">
           
              <img class="avatar border-gray"   [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'" alt="...">
             
              <div class="background"></div>
              <h5 class="title">Mike Andrew</h5>
            
            <p class="description">
              michael24
            </p>

          </label>
          </div>
          <input id="fileInput" type='file' (change)="onSelectFile($event)">
          <p class="description text-center">
            "Lamborghini Mercy
            <br> Your chick she so thirsty
            <br> I'm in that two seat Lambo"
          </p>
        </div>
        <hr>
        <div class="button-container">
          <button href="/user-profile"class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button  href="/user-profile" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-twitter"></i>
          </button>
          <button  href="/user-profile" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-google-plus-g"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
