#form-btn-hollow {
    color: #f96332;
    border: 1px solid #f96332 !important;

}
#form-btn-hollow:hover{
    background-color:white !important;
}

.form-group .control-label:after {
    content:"*";
    color:red;
  }

  div > span {
    /*  font-weight: bold;*/
   font-size:1rem;
   color: firebrick;
 }
 #fileInput{
  display: none;
}
.hoverable{
  position: relative;
  display: block;
  cursor: pointer;
  
}
.hoverable .hover-text{
  position: absolute;
  display: none;
  top: 50%;
  left:  50%;
  transform: translate(-50%,-50%);   
  z-index: 2;
}
.hoverable .background{
  position: absolute;
  display: none;
  top: 0;
  left:  0;
  bottom: 0;
  right: 0;
  background-color:rgba(255, 255, 255, 0.5);
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
}
.hoverable:hover .hover-text{
  display: block;
  color: #f96332;
 
}
