#form-btn-hollow {
    color: #f96332;
    border: 1px solid #f96332 !important;

}
#form-btn-hollow:hover{
    background-color:white !important;
}

.form-group .control-label:after {
    content:"*";
    color:red;
  }

  div > span {
    /*  font-weight: bold;*/
   font-size:1rem;
   color: firebrick;
 }