.formcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.formbody{
    display: flex;
    background-color: white;
    box-shadow:0 5px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 25px;
    min-height: 635px;
}

div > span {
    font-size: 0.75rem;
    color: firebrick;
}

.example-container {
    display: flex;
    flex-direction: column;
  }
  
 .example-container > * {
    width: 100%;
  }


  .header{
      font-size: 2rem;
      text-align: center;
      margin-bottom: 40px;      
  }